p{
    font-weight: bold;
    color: rgb(41, 78, 147);
}

body{
    background-color:rgb(236, 231, 225);
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    font-style: normal;
    color: rgb(41, 78, 147);;
    text-align:initial;

    border: 4px;
    border-color:rgb(9, 9, 11);
    border-style:solid; 
    border-width: 8cap;
}

h1{
    font-size: 24px;
}

ul{
    list-style-position: inside;

}

ol{
    list-style-position:inside;

}